NEXT_PUBLIC_ENV=local
NEXT_PUBLIC_API_URL=https://api-test.linkedinindonesia.com/api
NEXT_PUBLIC_BASE_URL=http://myapp.test:3000
NEXT_PUBLIC_IMAGE_HOST=api-test.linkedinindonesia.com
NEXT_PUBLIC_COOKIE_SECURE=false # Is the cookie secure (true only for HTTPS)
NEXT_PUBLIC_COOKIE_SAMESITE=strict # samesite option → strict / lax / none
NEXT_PUBLIC_COOKIE_MAX_AGE=7 # access token age (m) - 15 minute